@{
    ViewBag.Title = "會員登入";
}

<h2>會員登入</h2>

<div class="container">
    <form action="~/Helper/Login" method="post">
        <div>
            <label>帳號:</label>
            <input type="text" name="id" class="form-control" required />
        </div>
        <br />
        <div>
            <label>密碼:</label>
            <input type="password" name="password" class="form-control" required />
        </div>
        <br />
        <div>
            <input type="submit" name="submit" value="登入" class="btn login-btn" />
        </div>

    </form>
</div>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<style>

    .login-btn {
        width: 30%;
        padding: 12px;
        border: none;
        border-radius: 5px;
        background: linear-gradient(90deg, #ff5c97, #ff6a6a);
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .login-btn:hover {
        background: linear-gradient(90deg, #ff6a6a, #ff5c97);
    }
</style>