@{
    ViewBag.Title = "會員登入";
}

<div class="container">
    <div class="form-section">
        <h2>會 員 登 入</h2>
        <form asp-controller="Helper" asp-action="Login" method="post">
            <div>
                <label>帳 號</label>
                <input type="text" name="id" class="form-control" required />
            </div>
            <br />
            <div>
                <label>密 碼</label>
                <input type="password" name="password" class="form-control" required />
            </div>
            <br />
            <!-- 隱藏的 input 用來傳遞 MovieID -->
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            <div class="button-container">
                <button type="submit" formaction="/Helper/Login" class="btn login-btn">登 入</button>
                <a href="@Url.Action("Register", "Helper")" class="btn register-btn">註 冊</a>

            </div>
        </form>
    </div>
    <img src="~/lib/img/pop.jpg" alt="Alternate Text" class="side-image" />
</div>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<style>
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .form-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }


    .button-container {
        text-align: center;
        margin-top: 10px;
    }

    .login-btn, .register-btn {
        width: 48%;
        padding: 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .login-btn {
        background: linear-gradient(90deg, #ff5c97, #EB3678);
        color: white;
        font-weight: bold;
        margin-left:5px;
    }

        .login-btn:hover {
            background: linear-gradient(90deg, #EB3678, #ff5c97);
            color: white;
            box-shadow: 0 0 15px #F8BDEB;
        }

    .register-btn {
        border: none;
        color: #EB3678;
        text-shadow: 0 0 15px #F8BDEB;
        margin-top: 5px;
    }

        .register-btn:hover {
          
            color: white;
            text-shadow: 0 0 15px white;
        }

    .side-image {
        width: 50%;
        margin-left: 50px;
        border-radius:10%;
    }
</style>
