
@{
    ViewBag.Title = "線上訂票";
}

<h2>線上訂票</h2>

<div class="container">
    <form method="post">
        <div>
            <label>電影:</label>  
            <select>
                <option value="1">text</option>
                <option value="1">text</option>
                <option value="1">text</option>
            </select>
        </div>
        <br />

        

     

    </form>
</div>
